---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="container my-5" style=" display: flex; align-items: center; justify-content: center;">
        <!-- 404 Page Content -->
        <div class="text-center">
            <h1 style="font-family: 'Minecraft Ten'; font-size: 6rem;">404</h1>
            <h2 style="font-family: 'Minecraft Ten'; font-size: 2rem;">Page Not Found</h2>
            <p style="font-family: 'Minecraft'; font-size: 1.2rem;">
                Oops! The page you are looking for does not exist. It might have been moved or deleted.
            </p>
            <a 
                class="btn btn-primary btn-lg mt-3" 
                role="button" 
                data-bss-hover-animate="tada" 
                style="font-family: Minecraft;" 
                href="/"
            >
                Go to Home
            </a>
        </div>
    </div>
</Layout>