---
import Layout from '../layouts/Layout.astro';

const title = "Privacy Policy";
const description = "Learn about how MCBot handles your data and protects your privacy.";
---

<Layout title={title} description={description}>
  <div class="container my-5">
    <div class="text-center mb-4">
      <h1 style="font-family: 'Minecraft Ten'; font-size: 3rem;">Privacy Policy</h1>
    </div>
    <div>
        <h2 style="font-family: 'Minecraft Ten'; font-size: 2rem;">1. Information We Collect</h2>
        <p style="font-family: 'Minecraft';">
            We do not collect any personal information from users of MCBot. The bot only collects data necessary for its functionality, such as server status and player information, which is publicly available.
        </p>
        <p style="font-family: 'Minecraft';"><u>We collect the following information:</u></p>
        <ul style="font-family: 'Minecraft';">
          <li>Server Address - The IP address or domain name of the Minecraft server you wish to monitor.</li>
          <li>Player Username - The Minecraft username of the player you wish to look up.</li>
          <li>Discord Server ID - The ID of the Discord server where you want to receive updates.</li>
          <li>Other necessary information to provide the bot's services.</li>
        </ul>
        <h2 style="font-family: 'Minecraft Ten'; font-size: 2rem;">2. Use of Information</h2>
        <p style="font-family: 'Minecraft';">
            Any data collected by MCBot is used solely to provide the services offered by the bot. We do not share or sell any data to third parties.
        </p>
    
        <h2 style="font-family: 'Minecraft Ten'; font-size: 2rem;">3. Data Security</h2>
        <p style="font-family: 'Minecraft';">
            We take reasonable measures to protect the data collected by MCBot from unauthorized access, alteration, disclosure, or destruction.
        </p>
    
        <h2 style="font-family: 'Minecraft Ten'; font-size: 2rem;">4. Changes to This Privacy Policy</h2>
        <p style="font-family: 'Minecraft';">
            We reserve the right to update this Privacy Policy at any time. Any changes will be effective immediately upon posting on our website. Your continued use of MCBot after such changes constitutes your acceptance of the new policy.
        </p>
    
        <h2 style="font-family: 'Minecraft Ten'; font-size: 2rem;">5. Contact Us</h2>
        <p style="font-family: 'Minecraft';">
            If you have any questions about this Privacy Policy, please contact us at contact@mcbot.tech or join our <a href="/discord">Discord server</a>.
        </p>
    </div>
  </div>
</Layout>