---
import Layout from '../layouts/Layout.astro';

const title = "Terms of Service";
const description = "Read the terms and conditions for using MCBot.";
---

<Layout title={title} description={description}>
  <div class="container my-5">
    <div class="text-center mb-4">
      <h1 style="font-family: 'Minecraft Ten'; font-size: 3rem;">Terms of Service</h1>
    </div>
    <div>
      <h2 style="font-family: 'Minecraft Ten'; font-size: 2rem;">1. Acceptance of Terms</h2>
      <p style="font-family: 'Minecraft';">
        By using MCBot, you agree to comply with and be bound by these Terms of Service. If you do not agree to these terms, please do not use MCBot.
      </p>

      <h2 style="font-family: 'Minecraft Ten'; font-size: 2rem;">2. Use of MCBot</h2>
      <p style="font-family: 'Minecraft';">
        You agree to use MCBot in accordance with all applicable laws and regulations. You will not use MCBot for any unlawful or prohibited activities.
      </p>

      <h2 style="font-family: 'Minecraft Ten'; font-size: 2rem;">3. Privacy</h2>
      <p style="font-family: 'Minecraft';">
        Your use of MCBot is also governed by our Privacy Policy, which can be found at <a href="/privacy">here</a>. Please review it to understand our practices.
      </p>

      <h2 style="font-family: 'Minecraft Ten'; font-size: 2rem;">4. Modifications to Terms</h2>
      <p style="font-family: 'Minecraft';">
        We reserve the right to modify these Terms of Service at any time. Any changes will be effective immediately upon posting on our website. Your continued use of MCBot after such changes constitutes your acceptance of the new terms.
      </p>

      <h2 style="font-family: 'Minecraft Ten'; font-size: 2rem;">5. Contact Us</h2>
      <p style="font-family: 'Minecraft';">
        If you have any questions about these Terms of Service, please contact us at contact@mcbot.tech or join our <a href="/discord">Discord server</a>.
      </p>
    </div>
  </div>
</Layout>